<div class="header-container">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu"></nb-icon>
    </a>
    <div class="logo" (click)="goToHome()"><span>電商印單小幫手</span></div>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action class="clock">{{now}}</nb-action>
    <nb-action>
      <nb-user [name]="name" [nbContextMenu]="items" nbContextMenuTag="user-menu"></nb-user>
    </nb-action>
  </nb-actions>
</div>